* {
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

.modal-content {
  font-family: 'Noto Sans KR', sans-serif;
}

.container {
  font-family: 'Noto Sans KR', sans-serif;
}

#user-card {
  padding: 100px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px; /* 모서리를 더 둥글게 조정 */
}

.user-profile-image {
  margin-bottom: 20px;
}

#user-name {
  margin: 50px;
}

#user-email {
  margin-bottom: 50px;
}

.list-group {
  margin: 20px;
}

.list-group-item {
  margin: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px; /* 모서리를 더 둥글게 조정 */
}