* {
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

.modal-content {
  font-family: 'Noto Sans KR', sans-serif;
  max-width: 400px;
}

.container {
  font-family: 'Noto Sans KR', sans-serif;
}

.col {
  background: #ddd;
  /* min-height: 90vh; */
  padding: 5px;
  border-radius: 10px;
}

.card {
  flex-basis: 10%;
  background: #ddd;
  padding: 5px;
  border-radius: 10px;
}

.list-group-item {
  background: #fff;
  margin: 10px;
  padding: 20px;
  /* border-radius: 10px; */
  cursor: pointer;
}

/* .btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
