#comment-box {
  list-style-type: none;
  padding-bottom: 10px;
}

#offcanvasScrolling {
  background-color: burlywood;
}

#updateBtn {
  float: right;
}

#deleteCommentBtn {
  float: right;
}

#card {
  position: relative;
  left: 25%;
}
